<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"
        defaultValue="my-spring-boot-app" />
    <springProperty scope="context" name="LOG_PATH_FROM_PROPS" source="logging.file.path"
        defaultValue="./logs" />
    <property name="LOG_PATH" value="${LOG_PATH_FROM_PROPS}" />
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
    <property name="LOG_FILE_NAME" value="${APP_NAME}" />
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application_name":"${APP_NAME}"}</customFields>
        </encoder>
    </appender>

    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application_name":"${APP_NAME}", "environment":"${APP_ENV:-unknown}"}</customFields>

        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>

            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON" />
        <appender-ref ref="FILE_JSON" />
    </root>

    <logger name="com.example.mycoolapp" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE_JSON" />
        <appender-ref ref="FILE_JSON" />
    </logger>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="org.apache.kafka" level="WARN" />
</configuration>